body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.registration-box {
    background: #2A2A68;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: #fff;
    position: relative;
}

.registration-header {
    background: #231455;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: -20px -40px 20px -40px;
}

.registration-header h2 {
    margin: 0;
    font-size: 35px;
    color: #fff;
}

.input-group {
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-with-icon {
    display: flex;
    align-items: center;
}

.input-icon {
    margin-right: 10px;
    color: #fff; /* Если нужно изменить цвет иконки */
}

.input-with-icon input {
    flex: 1;
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    box-sizing: border-box;
}


.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-wrapper input {
    margin-right: 10px;
}

.checkbox-wrapper label {
    font-size: 14px;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: #218838;
}

.error-message {
    color: #ff6b6b;
    font-size: 14px;
    margin-top: 5px;
    display: block;
    margin-bottom: 15px;
}

.login-link {
    color: #ffcc00; /* Цвет ссылки */
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
